version: 2

jobs:

  build-python37:
    docker:
      - image: python:3.7
    steps:
      - checkout
      - restore_cache:
          keys:
            - ocrd-resources-{{ checksum "requirements.txt" }}-{{ checksum "Makefile" }}
      - run: make install
      - run: make model
      - save_cache:
          key: ocrd-resources-{{ checksum "requirements.txt" }}-{{ checksum "Makefile" }}
          paths:
            ocrd-resources
      - run: git submodule update --init
      - run: make test

  build-python38:
    docker:
      - image: python:3.8
    steps:
      - checkout
      - restore_cache:
          keys:
            - ocrd-resources-{{ checksum "requirements.txt" }}-{{ checksum "Makefile" }}
      - run: make install
      - run: make model
      - save_cache:
          key: ocrd-resources-{{ checksum "requirements.txt" }}-{{ checksum "Makefile" }}
          paths:
            ocrd-resources
      - run: git submodule update --init
      - run: make test

workflows:
  version: 2
  build:
    jobs:
      - build-python37
      - build-python38

